.menu-drawer {
  width: 20%;
}

.bg-color {
  background-color: #edf1f8 !important;
}

.nav-list {
  margin-top: 20px !important;
}

.company-title {
  font-size: 24px;
  margin: 35px 20px 35px 26px;
  font-weight: 600;
  color: var(--secondary-accent-light-color);
}

.menu-drawer {
  width: 300px; /* Adjust width as needed */
  background-color: var(--secondary-color); /* Main background color */
  color: var(--secondary-light-color); /* Text color */
}

.menu-drawer .mat-list-item {
  color: var(--secondary-light-color);
  font-size: 16px;
}

.menu-drawer .mat-list-item.mat-list-item.active {
  background-color: var(
    --primary-dark-color
  ); /* Highlight color for active item */
}

.nav-list {
  .mat-list-item .mat-list-item-content {
    padding: 0px 24px !important;
  }
}

.menu-drawer .mat-icon {
  margin-right: 16px;
}

.content {
  padding: 72px 16px 64px;
  height: 100%;
  overflow: auto;
}

button.mat-icon-button {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 2;
  color: var(--secondary-light-color); /* Icon color */
}

.sub-menu-title {
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.mat-list-base {
  padding-top: 0px !important;
}

.mat-toolbar {
  height: 56px !important;
  background-color: var(--header-bg-color);
}

.toolbar-div {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0px 24px;
  font-size: 15px;
  background-color: var(--footer-bg-color);
  box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.profile-icon {
  font-size: 28px;
  height: 28px !important;
  width: 28px !important;
}

.expansion-panel {
  background-color: transparent;
  box-shadow: none !important;

  .panel-title {
    color: var(--secondary-light-color);
  }

  .mat-expansion-indicator::after {
    color: var(--secondary-light-color);
  }

  .mat-expansion-panel-header {
    padding: 0 24px !important;
    font-size: 16px !important;
  }

  .mat-expansion-panel-body {
    padding: 0 !important;
  }

  .mat-expansion-panel-header.mat-expanded {
    height: 48px;
  }
}
