.menu-drawer {
  width: 20%;
}

.bg-color {
  background-color: #edf1f8 !important;
}

.nav-list {
  margin-top: 20px !important;
}

.company-title {
  font-size: 24px;
  margin: 35px 20px;
}

.menu-drawer {
  width: 300px; /* Adjust width as needed */
  background-color: var(--secondary-color); /* Main background color */
  color: var(--secondary-light-color); /* Text color */
}

.menu-drawer .mat-list-item {
  color: var(--secondary-light-color);
  font-size: 16px;
}

.menu-drawer .mat-list-item.mat-list-item.active {
  background-color: var(
    --primary-dark-color
  ); /* Highlight color for active item */
}

.menu-drawer .mat-icon {
  margin-right: 16px;
}

.content {
  padding: 16px;
  height: 100%;
  overflow: auto;
}

button.mat-icon-button {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 2;
  color: var(--secondary-light-color); /* Icon color */
}

.sub-menu-title {
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.mat-list-base {
  padding-top: 0px !important;
}

.expansion-panel {
  background-color: transparent;
  box-shadow: none !important;

  .panel-title {
    color: var(--secondary-light-color);
  }

  .mat-expansion-indicator::after {
    color: var(--secondary-light-color);
  }

  .mat-expansion-panel-header {
    padding: 0 16px !important;
  }

  .mat-expansion-panel-body {
    padding: 0 !important;
  }

  .mat-expansion-panel-header.mat-expanded {
    height: 48px;
  }
}
