.company-card {
    background: #ebd7ed;
    color: #0d2b68;

    .mat-card-header {
        background: #91439a;
        color: white;
    }
}

.product-card {
    background: #d2ebea;
    .mat-card-header {
        background: #397f7d;
        color: white;
    }
}

.mat-card-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: -16px -16px 16px -16px !important;
    padding: 16px 16px 8px 16px;
    border-radius: 8px 8px 0 0;
}

.mat-card-avatar {
    height: 40px;
    width: auto;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.home {
    font-size: 32px;
}

.key-updates {
    .mat-expansion-panel-body,
    .mat-expansion-panel {
        background-color: #f2f7d9 !important;
    }
    .mat-expansion-panel-header:not([aria-disabled="true"]) {
        cursor: pointer;
        background: #94b022;
        color: white;
        border-radius: 8px 8px 0 0;
    }
    .mat-expansion-panel-header-title {
        color: white !important;
        font-size: 20px;
    }

    ::ng-deep .mat-expansion-panel-body {
        background-color: #f2f7d9 !important;
        p {
            margin: 0 0 12px;
            background: #94b02233;
            padding: 5px;
            color: #6d8707;
            // text-decoration: underline;
        }
    }
}

.news-studio {
    .mat-expansion-panel-body,
    .mat-expansion-panel {
        background-color: #caeef6 !important;
    }
    .mat-expansion-panel-header:not([aria-disabled="true"]) {
        cursor: pointer;
        background: #1d8fa9;
        color: white;
        border-radius: 8px 8px 0 0;
    }
    .mat-expansion-panel-header-title {
        color: white !important;
        font-size: 20px;
    }
    ::ng-deep .mat-expansion-panel-body {
        background-color: #caeef6 !important;
        p {
            margin: 0 0 12px;
            background: #1d8fa936;
            padding: 5px;
            color: #0862cd;
            // text-decoration: underline;
            span {
                text-decoration: underline;
            }
        }
    }
}

.mat-expansion-panel-header.mat-expanded {
    height: 50px !important;
}

::ng-deep .news-studio .mat-expansion-panel-body,
::ng-deep .key-updates .mat-expansion-panel-body {
    padding: 24px 16px 8px 16px !important;
}

::ng-deep .mat-content {
    overflow: initial !important;
}

.news {
    margin-top: -8px !important;
    font-size: 30px !important;
}

.company-fav {
    color: #91439a;
}

.product-fav {
    color: #397f7d;
}

.news-updates {
    color: #1d8fa9;
}

.key-notes {
    color: #94b022;
}

::ng-deep .mat-chip.mat-standard-chip {
    background-color: #044a98 !important;
    color: #edf1f8 !important;
    font-size: 18px !important;
    font-weight: 900 !important;
    padding: 20px 10px;
}

::ng-deep .mat-chip-list-wrapper {
    justify-content: center !important;
}
