/* You can add global styles to this file, and also import other style files */
/* Global styles */
* {
    font-family: "Josefin Sans", sans-serif !important;
}

/* Exclude mat-icon from the global font-family */
mat-icon {
    font-family: 'Material Icons' !important; /* Reset font-family to default */
}
html,
body {
    height: 100%;
    margin: 0px;
    background-color: #edf1f8 !important;
}

mat-drawer-content {
    background-color: #edf1f8 !important;
}
