/* You can add global styles to this file, and also import other style files */
/* Global styles */
* {
    font-family: "Josefin Sans", sans-serif !important;
}

/* Exclude mat-icon from the global font-family */
mat-icon {
    font-family: 'Material Icons' !important; /* Reset font-family to default */
}
html,
body {
    height: 100%;
    margin: 0px;
    background-color: #edf1f8 !important;
}

mat-drawer-content {
    background-color: #edf1f8 !important;
}

// ========== THEME COLOR ========== //
:root {

    // MAIN COLORS (All text*, navigation, banner fills, label cells for tables)
    --primary-color: #0562CB;
    --secondary-color: #0D2B68;
    --primary-light-color: #C4DFFE;
    --secondary-light-color: #B9CDF6;
    --primary-dark-color: #044A98;
    --secondary-dark-color: #061634;

    // ACCENT COLORS (Buttons, icons, important info/callouts)
    --primary-accent-color: #1D8FA9;
    --secondary-accent-color: #94B022;
    --primary-accent-light-color: #CAEEF6;
    --secondary-accent-light-color: #F2F7D9;
    --primary-accent-dark-color: #166B7F;
    --secondary-accent-dark-color: #6F8419;
}

